
<html>

<% include ../partials/header %>
<% include ../partials/sidebar_nav_admin %>


 <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
 </h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
       
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">

                                    <form method="POST" action="/register">

                                     <div class="form-group">

                                            <label>Nombre de Usuario</label>

                                            <input class="form-control" name="username" type="text" placeholder="Nombre de Usuario" required="">
                                        </div> 

                                        <div class="form-group">

                                            <label>Contraseña</label>

                                            <input class="form-control" name="password" type="password"  required="">
                                        </div> 


                                        <div class="form-group">

                                            <label>Nombre</label>

                                            <input class="form-control" name="nombre" type="text" placeholder="Nombre" required="">
                                        </div>

                                        <div class="form-group">

                                            <label>Apellido</label>

                                            <input class="form-control" name="apellido" type="text" placeholder="Apellido" required="">
                                        </div> 


                                        <div class="form-group">

                                            <label>Cedula</label>

                                            <input class="form-control" name="cedula" type="text" placeholder="Cedula" required="">
                                        </div>  



                                        <div class="form-group">

                                            <label>Telefono</label>

                                            <input class="form-control" name="telefono" type="text" placeholder="Telefono" required="">
                                        </div>  


                                        <div class="form-group">

                                            <label>Rol</label>


                                            <select class="form-control" name="rol">

                                                <option value="logistica">logistica</option>
                                                  <option value="rutero">rutero</option>
                                                <option value="admin">admin</option>
                                                 <option value="recepcion_mercancia">recepcion_mercancia</option>


                                                
                                             </select>

                                           
                                        </div>   

                                        
                                        <button type="submit" class="btn btn-primary">Submit Button</button>
                                        <button type="reset" class="btn btn-default">Reset Button</button>
                                    </form>
                                  
                                                               
                                  </div>

                                </div>

                                </div>
                         
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
   
   <% include ../partials/footer %>

</html>